mat-card-title
  margin-top: 6px
  line-height: 1.5

mat-card-subtitle
  margin-top: 12px

mat-card.mat-mdc-card.mdc-card.example-card.ng-star-inserted
  margin-bottom: 15px
  margin-right: 15px
  cursor: pointer


mat-card-subtitle
  overflow: hidden
  display: -webkit-box
  -webkit-box-orient: vertical
  -webkit-line-clamp: 1

img.mat-mdc-card-sm-image.mdc-card__media
  margin-right: 14px
  border-radius: 5px
  margin-bottom: 5px

mat-drawer-container.mat-drawer-container.menu
  width: 100%

mat-card-title.mat-mdc-card-title
  font-size: 12px



@media screen and (max-width: 768px)
  .menu
    position: inherit
    left: 0
    z-index: 1

  button
    border-color: transparent
    border-radius: 45px
    position: absolute
    z-index: 2
    right: 5px
    background-color: white
    top: 90%

  .mat-drawer-container
    background: none

  mat-drawer.mat-drawer.ng-tns-c2384444419-0.ng-trigger.ng-trigger-transform.mat-drawer-side.ng-star-inserted.mat-drawer-opened
    left: 0
