<button
  class="notice__button__menu"
  *ngIf="isSmallScreen"
  (click)="drawer.toggle()"
  mat-icon-button
>
  <mat-icon>menu</mat-icon>
</button>
<a class="notice__link" href="/search">
  <button class="notice__button" mat-fab extended color="primary">New Coordinates</button>
</a>
<mat-drawer-container class="notice__menu" autosize>
  <mat-drawer #drawer [opened]="!isSmallScreen" mode="side" position="start">
    <mat-nav-list>
      <mat-card
        (click)="openDialog(location); setLocation(location)"
        *ngFor="let location of locations"
        class="notice__card"
      >
        <mat-card-header>
          <img
            class="notice__image"
            mat-card-sm-image
            src="{{location.image}}"
          />
          <mat-card-title-group>
            <mat-card-title>{{ location.address }}</mat-card-title>
            <mat-card-subtitle
              >Service: {{ location.serviceName }}</mat-card-subtitle
            >
          </mat-card-title-group>
        </mat-card-header>
      </mat-card>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div style="text-align: center; min-height: 600px">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
