

<div class="modal">
  <h1 class="modal__title">{{ location.address }}</h1>
  <img class="modal__img" src="{{ location.image }}" alt="" />
  <div class="modal__information">
    <h2 class="modal__subtitle">Service:</h2>
    <div mat-dialog-content>{{ location.serviceName }}</div>
    <h2  class="modal__subtitle">Description:</h2>
    <div mat-dialog-content>{{ location.descriptionLegend }}</div>
    <h2  class="modal__subtitle">Service Typology:</h2>
    <div mat-dialog-content>{{ location.typologyDescription }}</div>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
