
$primary-color: #f55553
$font-size-h1: 18px
$font-size-h2: 17px
$font-size-mobile: 12px
$margin-default: 20px
$margin-mobile: 15px
$img-width-desktop: 280px
$img-width-mobile: 50%

button.mdc-button.mat-mdc-button.mat-unthemed.mat-mdc-button-base
  margin-left: 5px
  background-color: $primary-color
  color: white
  margin-bottom: $margin-default

.mat-mdc-dialog-container .mdc-dialog__title
  background-color: red

.mat-mdc-dialog-actions
  justify-content: end
  margin-right: 5%

.modal
  display: flex
  flex-direction: column
  margin: $margin-default
  justify-content: center
  align-content: center
  align-items: center
  flex-wrap: wrap

.modal__information
  width: 100%
  margin-left: 15px

.modal__title
  margin: $margin-default
  font-size: $font-size-h1
  font-weight: 500

.modal__img
  width: $img-width-desktop

.mat-mdc-dialog-content.mdc-dialog__content
  padding: 0

.modal__subtitle
  font-size: $font-size-h2
  margin: 0
  margin-top: 10px

@media screen and (max-width: 768px)
  .modal__img
    width: $img-width-mobile

  .mat-mdc-dialog-actions.mdc-dialog__actions
    padding: 0

  .mat-mdc-dialog-content.mdc-dialog__content
    font-size: $font-size-mobile

  .modal__title
    font-size: $font-size-mobile
    margin-top: 15px
    padding: 0
    margin-right: 15px

  .modal__subtitle
    font-size: $font-size-mobile

  .modal__information
    margin-left: 0
    margin-top: 0

  .modal
    margin: $margin-mobile
